@{
    Layout = null;
    int k = 1;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">

    </style>
    <title>工作任务</title>

    <!-- Bootstrap core CSS -->
    <link href="MyContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MyContent/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="MyContent/css/dashboard.css" rel="stylesheet">

    <link href="MyContent/css/admin.css" rel="stylesheet">
    <link href="~/MyContent/css/sidebar-demo.css" rel="stylesheet" />

    <script src="MyContent/css/ie-emulation-modes-warning.js"></script>
    <style type="text/css">
        .number {
            font-size:60px;
        }
        .number1 {
            color:red;
        }

        .number2 {
            color:green;
        }

    </style>
    
</head>

<body>

    @RenderPage("../Shared/Navbar.cshtml")

    <div class="container-fluid">
        <div class="row">
            @RenderPage("../Shared/SideBar.cshtml")

           
            <!-- content 开始 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">我的记事板</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="/Admin/Index/showOrder" style="text-decoration:none;">
                            <div class="myboard2">
                                <span class="number">@ViewBag.NewsDays</span> 天
                            </div>
                        </a>
                        <br>
                        <h4>最新资讯距今的天数</h4>
                        <span class="text-muted"></span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="/Admin/Index/showWZ" style="text-decoration:none;">
                            <div class="myboard2">
                                <span class="number">0</span> 个
                            </div>
                        </a>
                        <br>
                        <h4>待审核医生认证</h4>
                        <span class="text-muted"></span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="/Admin/Index/showNotice" style="text-decoration:none;">
                            <div class="myboard2">
                                <span class="number" >@ViewBag.Coment_Count</span> 条
                            </div>
                        </a>
                        <br>
                        <h4>待审阅的建议</h4>
                        <span class="text-muted"></span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="/Admin/Index/showNews" style="text-decoration:none;">
                            <div class=" myboard2">
                                <span class="number" >0</span> 天
                            </div>
                        </a>
                        <br>
                        <h4>最新资讯距今的天数</h4>
                        <span class="text-muted"></span>
                    </div>
                </div>

                <br> <br>
                <h2 class="sub-header"><span class="glyphicon glyphicon-star" style="color:darkslateblue"></span> 用户建议（待处理）</h2>
                <div class="table-responsive" style="text-align: center;">
                    <table class="table table-striped">
                        <tbody>
                            <tr style="font-weight: bold; background-color: #FFFFCC;">
                                <td>#</td>
                                <td>联系方式</td>
                                <td>建议内容</td>
                                <td>提交时间</td>
                                <td>操作</td>
                            </tr>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                           @foreach (var comment in ViewBag.Comment) { 
                               <tr>
                                <td>@k</td>
                                <td>@comment.Contact</td>
                                <td>@comment.Content</td>
                                <td>@comment.SubData</td>
                                <td><button class="btn btn-info btn-isRead" key-id="@comment.Id" >已读</button></td>
                            </tr> 
                               k++;
                           }
                            
                            
                        </tbody>
                    </table>
                    @*<button id="btnTest">测试</button>*@



                </div>
                <!-- content 结束-->
                <div class="well">
                    带 <span class="glyphicon glyphicon-eye-close"></span> 表示暂无详情，带 <span class="glyphicon glyphicon-eye-open"></span> 表示有详情内容。线下处理完成的可以点击  “处理” 按钮即可。
                </div>
            </div>



        </div>
    </div>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="MyContent/js/jquery-2.1.1.min.js"></script>
    <script src="MyContent/js/bootstrap.min.js"></script>
    <script src="MyContent/js/docs.min.js"></script>
   
    
    <script src="MyContent/js/public.js"></script>
    <script src="~/MyContent/js/metisMenu.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#menu').metisMenu();
            $(".number").each(function () {
                //alert($(this).html());
                
                if ($(this).html() <= 10) {
                    if ($(this).html() < 0) {
                        $(this).html("0");
                    }
                    $(this).removeClass("number1");//红色
                    $(this).addClass("number2");//绿色
                } else {
                    $(this).removeClass("number2");//红色
                    $(this).addClass("number1");//绿色
                }
            });
        });

        $(".btn-isRead").click(function () {
            var element = $(this);
            var id = $(this).attr("key-id");
            $.post("/Admin/CheckCommentStatus", { "id": id }, function (rst) {
                if (rst == "success") {
                    element.parent().parent().remove();
                } else {
                    show("警告", "操作失败,请重试！");
                }
            });
        });

       

        $("#btnTest").click(function () {
            show("警告", "点击了");
        });
    </script>
</body>
</html>
