@{
    Layout = null;
    int k = 1;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
    </style>
    <title>历史资讯</title>

    <!-- Bootstrap core CSS -->
    <link href="/MyContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MyContent/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/MyContent/css/dashboard.css" rel="stylesheet">

    <link href="/MyContent/css/admin.css" rel="stylesheet">
    <link href="~/MyContent/css/sidebar-demo.css" rel="stylesheet" />

    <style type="text/css">
        .number {
            font-size: 60px;
        }

        .number1 {
            color: red;
        }

        .number2 {
            color: green;
        }

        .edit-main {
            /*border:1px solid red;*/
            /*overflow: auto;*/
            clear:both;
            overflow:hidden;
        }

        .edit-left {
            float: left;
            width: 60%;
        }

            .edit-left fieldset {
                background-color: white;
            }

        .edit-right {
            float: left;
            width: 37%;
            margin-left: 3%;
        }


        .news_top {
            border: 1px solid white;
            padding: 2%;
            background-color: white;
        }

        .word1, word2 {
            color: gray;
        }

        .ok {
            margin-left: 10px;
            font-size: 30px;
            color: green;
            vertical-align: middle;
            display: none;
        }

        .input-group-addon {
            /*background-color: #99ccff;*/
            font: bold;
            /*color: white;*/
        }
    </style>

</head>

<body>

    @RenderPage("../Shared/Navbar.cshtml")

    <div class="container-fluid">
        <div class="row">
            @RenderPage("../Shared/SideBar.cshtml")



            <!-- content 开始 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">历史资讯</h1>
                <ol class="breadcrumb">
                    <li><a href="#">管理后台</a></li>
                    <li><a href="#">资讯管理</a></li>
                    <li class="active">历史资讯</li>
                </ol>
                <h3 style="text-align: center; " class="number1"><span  class="glyphicon glyphicon-fire"></span> 热门资讯</h3>
                <div class="myRowTable">
                    <div class="row row-head">
                        <div class="col-md-1 col-sm-12">
                            序号
                        </div>
                        <div class="col-md-2 col-sm-12">
                            标题
                        </div>
                        <div class="col-md-2 col-sm-12">
                            描述
                        </div>
                        <div class="col-md-2 col-sm-12 row-center">来源</div>
                        <div class="col-md-1 col-sm-12 row-center">时间</div>
                        <div class="col-md-1 col-sm-12 row-center">状态</div>
                        <div class="col-md-1 col-sm-12 row-center">备注</div>
                        <div class="col-md-2 col-sm-12 row-center">操作</div>

                    </div>
                    <input type="hidden" id="txtTotalHot" value="@ViewBag.Hinfos" />
                    @if (ViewBag.HInfos.Count <= 0)
                    {
                        <div class="row row-body"><div class="col-md-2 col-sm-12" style="color:#ff6a00">暂无数据</div></div>
                    }
                    @foreach (var hinfo in ViewBag.HInfos)
                    {
                        if (hinfo.DelFlag == 12) { 
                        <div class="row row-body">
                            <div class="col-md-1 col-sm-12">@k</div>

                            <div class="col-md-2 col-sm-12"><span class="wrap-line" title="@hinfo.Title"><a href="/News/ShowDetail?id=@hinfo.Id" target="_blank">@hinfo.Title</a></span> </div>
                            <div class="col-md-2 col-sm-12"><span class="wrap-line" title="@hinfo.Description">@hinfo.Description</span> </div>
                            <div class="col-md-2 col-sm-12 row-center"><span class="wrap-line" title="@hinfo.SubName">@hinfo.SubName</span> </div>
                            <div class="col-md-1 col-sm-12 row-center"><span class="wrap-line" title="@hinfo.SubDate">@hinfo.SubDate</span> </div>
                            <div class="col-md-1 col-sm-12 row-center">
                                @if (hinfo.DelFlag == 11)
                                { <span class="number1" title="已删除">已删除</span>}
                                else
                                { <span title="正常">正常</span> }
                        </div>
                        <div class="col-md-1 col-sm-12 row-center" title=""><span class="wrap-line" title="@hinfo.Remark">@hinfo.Remark</span></div>

                        <div class="col-md-2 col-sm-12 row-center">
                            <a href="/News/ShowDetail?id=@hinfo.Id" target="_blank"><span class="glyphicon glyphicon-eye-open" title="查看更多详情"></span></a>&nbsp;
                            <a href="javascript:void(0)" onclick="EditNews(@hinfo.Id)"><span class="glyphicon glyphicon-edit" title="编辑资讯"></span></a>&nbsp;
                            @if (hinfo.DelFlag == 11)
                            {
                                <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id, 0)"><span class="glyphicon glyphicon-wrench" title="恢复为正常状态"></span></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id, 11)"><span class="glyphicon glyphicon-trash" title="删除该资讯"></span></a>
                            }&nbsp;
                            <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id, 0)"> <span class="glyphicon glyphicon-arrow-down" title="设置为普通资讯"></span></a>&nbsp;
     
                        </div>
                    </div>
                            k++;
                    }

                            

                    }
                    <input type="hidden" id="txtHotTotal" value="@k" />

                    <div class="row-foot"></div>
                </div>

                <br>
                <h3 style="text-align:center;"> 普通资讯</h3>
                <div class="myRowTable">
                    <div class="row row-head">
                        <div class="col-md-1 col-sm-12">
                            序号
                        </div>
                        <div class="col-md-2 col-sm-12">
                            标题
                        </div>
                        <div class="col-md-2 col-sm-12">
                            描述
                        </div>
                        <div class="col-md-2 col-sm-12 row-center">来源</div>
                        <div class="col-md-1 col-sm-12 row-center">时间</div>
                        <div class="col-md-1 col-sm-12 row-center">状态</div>
                        <div class="col-md-1 col-sm-12 row-center">备注</div>
                        <div class="col-md-2 col-sm-12 row-center">操作</div>

                    </div>
                    @if (ViewBag.HInfos.Count <= 0)
                    {
                        <div class="row row-body"><div class="col-md-2 col-sm-12" style="color:#ff6a00">暂无数据</div></div>
                    }
                    else 
                    {
                        k = 1;
                    }
                    
                    @foreach (var hinfo in ViewBag.HInfos)
                    {
                        if (hinfo.DelFlag != 12) { 
                        <div class="row row-body">
                            <div class="col-md-1 col-sm-12">@k</div>

                            <div class="col-md-2 col-sm-12"><a href="/News/ShowDetail?id=@hinfo.Id" target="_blank"><span class="wrap-line" title="@hinfo.Title">@hinfo.Title</span></a> </div>
                            <div class="col-md-2 col-sm-12"><span class="wrap-line" title="@hinfo.Description">@hinfo.Description</span> </div>
                            <div class="col-md-2 col-sm-12 row-center"><span class="wrap-line" title="@hinfo.SubName">@hinfo.SubName</span> </div>
                            <div class="col-md-1 col-sm-12 row-center"><span class="wrap-line" title="@hinfo.SubDate">@hinfo.SubDate</span> </div>
                            <div class="col-md-1 col-sm-12 row-center">@if (hinfo.DelFlag == 11)
{ <span class="number1" title="已删除">已删除</span>}
else
{ <span title="正常">正常</span> }</div>
                            <div class="col-md-1 col-sm-12 row-center" title=""><span class="wrap-line" title="@hinfo.Remark">@hinfo.Remark</span></div>

                        <div class="col-md-2 col-sm-12 row-center">
                            <a href="/News/ShowDetail?id=@hinfo.Id" target="_blank"><span class="glyphicon glyphicon-eye-open" title="查看更多详情"></span></a>&nbsp;
                            <a href="javascript:void(0)" onclick="EditNews(@hinfo.Id)"><span class="glyphicon glyphicon-edit" title="编辑资讯"></span></a>&nbsp;
                           @if (hinfo.DelFlag == 11)
{
    <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id, 0)"><span class="glyphicon glyphicon-wrench" title="恢复为正常状态"></span></a>
}
                           else
                           {
                            <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id, 11)"><span class="glyphicon glyphicon-trash" title="删除该资讯"></span></a>
                           }&nbsp;
                            <a href="javascript:void(0)" onclick="ChangeStatus(@hinfo.Id,12)"> <span class="glyphicon glyphicon-arrow-up" title="设置为热门资讯"></span></a>&nbsp;
                        </div>
                    </div>

                            k++;
                            }

                    }

                    <div class="row-foot"></div>
                </div>

  
                
            </div>



        </div>
    </div>

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/MyContent/js/jquery-2.1.1.min.js"></script>
    <script src="/MyContent/js/bootstrap.min.js"></script>
    <script src="/MyContent/js/metisMenu.min.js"></script>
    <script src="/MyContent/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/MyContent/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/MyContent/js/public.js"></script>
    <script src="~/MyContent/js/ajaxfileupload.js"></script>
    <script src="~/MyContent/js/publicNews.js"></script>
    <script src="~/MyContent/js/adminNews.js"></script>
    <script type="text/javascript" src="/MyContent/ckeditor/ckeditor.js"></script>
    
    

    <script type="text/javascript">
        $(function () {
            $('#menu').metisMenu();
            
            $("#menu").find("li").eq(1).find("a").click();
            

            $(".number").each(function () {
                //alert($(this).html());

                if ($(this).html() <= 10) {
                    if ($(this).html() < 0) {
                        $(this).html("0");
                    }
                    $(this).removeClass("number1");//红色
                    $(this).addClass("number2");//绿色
                } else {
                    $(this).removeClass("number2");//红色
                    $(this).addClass("number1");//绿色
                }
            });
        });
    </script>
</body>
</html>
