@{
    Layout = null;
    int k = 1;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
    </style>
    <title>历史资讯</title>

    <!-- Bootstrap core CSS -->
    <link href="/MyContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MyContent/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/MyContent/css/dashboard.css" rel="stylesheet">

    <link href="/MyContent/css/admin.css" rel="stylesheet">
    <link href="~/MyContent/css/sidebar-demo.css" rel="stylesheet" />

    <style type="text/css">
        .number {
            font-size: 60px;
        }

        .number1 {
            color: red;
        }

        .number2 {
            color: green;
        }
    </style>

</head>

<body>

    @RenderPage("../Shared/Navbar.cshtml")

    <div class="container-fluid">
        <div class="row">
            @RenderPage("../Shared/SideBar.cshtml")



            <!-- content 开始 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">历史资讯</h1>
                <ol class="breadcrumb">
                    <li><a href="#">管理后台</a></li>
                    <li><a href="#">资讯管理</a></li>
                    <li class="active">历史资讯</li>
                </ol>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <tbody>
                            <tr style="font-weight: bold; background-color: #FFFFCC;">
                                <td>#</td>
                                <td>标题</td>
                                <td>描述</td>
                                <td>发布人</td>
                                <td>发布时间</td>
                                <td>备注</td>
                                <td>操作</td>
                            </tr>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                            @foreach(var hinfo in ViewBag.HInfos)
                            {
                                <tr>
                                    <td>k</td>
                                    <td ><span class="wrap-line">@hinfo.Title</span></td>
                                    <td ><span class="wrap-line">@hinfo.Description</span></td>
                                    <td>@hinfo.SubName</td>
                                    <td>@hinfo.SubDate</td>
                                    <td>@hinfo.Remark</td>
                                    <td></td>
                                </tr>
                                
                            }


                        </tbody>
                    </table>
                    @*<button id="btnTest">测试</button>*@



                </div>
               

                
            </div>



        </div>
    </div>

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/MyContent/js/jquery-2.1.1.min.js"></script>
    <script src="/MyContent/js/bootstrap.min.js"></script>
    <script src="/MyContent/js/metisMenu.min.js"></script>
    <script src="/MyContent/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/MyContent/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/MyContent/js/public.js"></script>
    

    <script type="text/javascript">
        $(function () {
            $('#menu').metisMenu();
            
            $("#menu").find("li").eq(1).find("a").click();
            

            $(".number").each(function () {
                //alert($(this).html());

                if ($(this).html() <= 10) {
                    if ($(this).html() < 0) {
                        $(this).html("0");
                    }
                    $(this).removeClass("number1");//红色
                    $(this).addClass("number2");//绿色
                } else {
                    $(this).removeClass("number2");//红色
                    $(this).addClass("number1");//绿色
                }
            });
        });

        $(".btn-isRead").click(function () {
            var element = $(this);
            var id = $(this).attr("key-id");
            $.post("/Admin/CheckCommentStatus", { "id": id }, function (rst) {
                if (rst == "success") {
                    element.parent().parent().remove();
                } else {
                    show("警告", "操作失败,请重试！");
                }
            });
        });



        $("#btnTest").click(function () {
            show("警告", "点击了");
        });
    </script>
</body>
</html>
