@{
    Layout = null;
    int k = 1;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/MyContent/images/ic_launcher.png" rel="shortcut icon" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>健康资讯</title>

    <!-- Bootstrap -->

    <link href="~/Content/themes/base/minified/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MyContent/css/mycss.css" rel="stylesheet" />
    <link href="~/MyContent/css/myIndexcss.css" rel="stylesheet" />
    <link href="~/MyContent/css/base.css" rel="stylesheet" />
    <link href="~/MyContent/css/demo.css" rel="stylesheet" />
    <link href="~/MyContent/css/default.css" rel="stylesheet" />
    <link href="~/MyContent/css/News.css" rel="stylesheet" />
    @*<link href="~/MyContent/css/osSlider.css" rel="stylesheet" />*@



</head>
<body>
    <!----------------------------------头部导航开始----------------------------------------->
    @RenderPage("../Shared/Header.cshtml")
    <!----------------------------------头部导航结束----------------------------------------->

    <div style="overflow:auto;">
        <div class="main_content">
           
            <!--【头部开始】-->
            <!--【头部结束】-->
            <!--【标题和描述展示开始】-->
            <div class="content_news_content">
               

                <!--【普通的资讯】-->
                <div class="news_list" id="news_list_table">
                    @*@foreach (var newsInfo in ViewBag.NewsInfo) {
                            <div class="news_list_item">
                                <span class="news_list_title">
                                    <a href="javascript:void(0);">@newsInfo.Title</a>
                                </span>
                                <span class="news_list_foornumber">#@k</span>
                                <br />
                                <span class="news_list_description">--------------------</span> <span class="news_list_description">@newsInfo.Remark</span>
                            </div>
                            k++;
                        }*@
                    <div class="news_list_item">
                        <span class="news_list_title">
                            <a href="javascript:void(0);">标题</a>
                        </span>
                        <span class="news_list_foornumber">#10</span>
                        <br />
                        <span class="news_list_description">--------------------</span> <span class="news_list_description">MI奥数123123</span>
                    </div>

                </div><!--普通资讯结束-->

               
                
            </div>
            <!--【标题和描述展示结束】-->

            <div id="pageHtml" class="pageHtml">
                <!--【分页开始】-->

            </div><!--【分页结束】-->
        </div>

        <div class="hot_content">
            <!--【置顶项】-->
            
                @foreach (var hotnews in ViewBag.HotNews)
{
    <a href="/News/ShowDetail?Id=@hotnews.Id" target="_blank" style="color:inherit;">
        <div class="news_top">
            <p style="font-size:25px;" class="top_title wrap-line" title="@hotnews.Title"><span class="glyphicon glyphicon-star hot-star"></span> @hotnews.Title</p>
            <p class="word1 top_date">@hotnews.SubDate</p>

   
            <img src="@if( !string.IsNullOrEmpty( hotnews.ImageUrls)) {@hotnews.ImageUrls;}else{@Html.Raw("/MyContent/images/bg1.jpg")}" width="100%" />
            <p class="word1 wrap-line" style="margin-top:4px;margin-bottom:4px;" title="@hotnews.Description">@hotnews.Description</p>
            <br>
            <p>查看全文</p>
        </div>
    </a>
}
            
        </div>
    </div>
    <!-------------------------------------body内容结束-------------------------------------------------->
    <!-------------------------------------底部内容开始-------------------------------------------------->
    @RenderPage("../Shared/Footer.cshtml")
   
    <!-------------------------------------底部内容结束-------------------------------------------------->
    <div class="BackToTop">
        <a href="#BackToTop" class="scroll">&nbsp;&nbsp;<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>&nbsp;<span class="BackToTopLabel">Top</span></a>
    </div>


    <script src="~/MyContent/js/jquery-1.11.2.min.js"></script>
    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    <script src="~/MyContent/js/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/MyContent/js/osSlider.js"></script>*@
    <script src="~/MyContent/js/NewsJS.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addLink").html(" <a href='http://www.jiankang.cn/info/' target='_blank'>中国健康网</a> | ");
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus();
            });
            $("ul[class$='nav']").children().eq(1).html("<a href='javascript:void(0)' >健康资讯 <span class='sr-only'>(current)</span>").addClass("active");
        });

        function myHelpLink() {
            $("#btnHelp").click();
        }

        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    </script>
</body>

</html>